@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <a class="btn btn-link" href="/">Work Reports</a>
        <a class="btn btn-link" href="/customers">Customers</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>